<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cabal{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.role == 'attendee' %}
                        <li><a href="{% url 'attendee_dashboard' %}">My Dashboard</a></li>
                    {% elif user.role == 'promoter' %}
                        <li><a href="{% url 'venue_dashboard' %}">Venue Dashboard</a></li>
                    {% elif user.role == "Artist" %}
                        <li><a href="{% url 'events_dashboard' %}">Events Dashboard</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}"></a></li>
                    <li><a href="{% url 'register' %}"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Cabal Applications</p>
    </footer>
</body>
</html>